<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web322 Assignment Library</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1></h1> <nav class="signinLink"><a href="/signin">Sign in</a></nav>
</header>
<main>
    <article><h1 class="welcome_logo">WebBooks Library</h1></article>
</main>
{{>footer}}
