html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: 100%;
    font-size: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    width: 90%;
    padding: 5rem 1rem;
}
.welcome_logo {
    text-align: center;
    font-size: 8rem;
    font-size: 100px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 4px red;
    position: relative;
    animation: moveStroke 3s linear infinite;
}
@keyframes moveStroke {
    0% {
        -webkit-text-stroke-color: white;
    }
    33% {
        -webkit-text-stroke-color: yellow;
    }
    66% {
        -webkit-text-stroke-color: purple;
    }
    100% {
        -webkit-text-stroke-color: palevioletred;
    }
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    border-bottom: 5px solid #fff;
}
header h1 {
    justify-self: start;
    font-size: 3rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
header a {
    color: #fff;
    justify-self: end;
    text-decoration: none;
}
.libraryMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.books {
    width: 20rem;
    border: 5px solid #fff;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(66, 65, 63, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 35rem;
}
.books button {
    padding: .5rem;
    border-radius: 5px;
    margin-top: auto;
}
.books h3, #booksAvailable h3 {
    text-align: center;
}
.books ul {
    list-style-type: none;
}
.books ul li {
    margin-top: 5px;
    text-align: end;
}
.books input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}
.books button:disabled {
    background-color: #ccc; /* Gray background */
    color: #666; /* Darker text color */
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
    opacity: 0.6; /* Reduce opacity */
}
.signinLink {
    text-align: right;
    padding: 1rem; 
}
.signinLink a {
    text-decoration: none;
    color: white;
    text-align: right;
}
#login {
    width: 15rem;
    align-items: end;
    text-align: center;
    border: 5px solid #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-left: auto;
}
#login .feedback {
    background-color: #fff;
}
#login input[type="email"],
#login input[type="password"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}
#login button {
    width: 100%;
    padding: .5rem; 
    font-size: 1rem;
}
#login button:hover {
    background-color: #45a049;
}
#login .feedback {
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    color: red;
}
footer {
    text-align: center;
    font-style: italic;
}